<h3>Budgets</h3>

<div class="row mt-5 text-center">
  <div class="col-4">
    <div class="card bg-white mb-3">
      <div class="card-header">Groceries</div>
      <div class="card-body">
        <progressbar [value]="26"></progressbar>
        <small>&euro; 52.12 / <strong>&euro; 200.00</strong></small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white mb-3">
      <div class="card-header">Shopping</div>
      <div class="card-body">
        <progressbar [value]="31"></progressbar>
        <small>&euro; 92.55 / <strong>&euro; 300.00</strong></small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white mb-3">
      <div class="card-header">Gas</div>
      <div class="card-body">
        <progressbar [value]="59"></progressbar>
        <small>&euro; 88.55 / <strong>&euro; 150.00</strong></small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white mb-3">
      <div class="card-header">Entertainment</div>
      <div class="card-body">
        <progressbar [value]="59"></progressbar>
        <small>&euro; 88.55 / <strong>&euro; 150.00</strong></small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white mb-3">
      <div class="card-header">Dining out</div>
      <div class="card-body">
        <progressbar [value]="88"></progressbar>
        <small>&euro; 88.55 / <strong>&euro; 100.00</strong></small>
      </div>
    </div>
  </div>
</div>
