<div class="container-fluid">
  <div class="row">
    <div class="col-4 sidebar pt-5">
      <h2>BUDGET APP</h2>
      <div class="list-group list-group-flush">
        <a routerLink="" class="list-group-item list-group-item-action p-3">Home</a>
        <a routerLink="/expenses" class="list-group-item list-group-item-action p-3">Expenses</a>
        <a routerLink="/budgets" class="list-group-item list-group-item-action p-3">Budgets</a>
      </div>
    </div>
    <div class="col-8 pt-5">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
